.modal__header {
    height: 20px;
    width: 100%;
    border-bottom: 2px solid #01A1FF;
    padding: 10px;
}

.modal__close {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 4px;
    right: 6px;
    font-size: 12px;
}

.modal__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000D15;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 99%;
    max-height: 99%;
    overflow-y: auto;
    border: 2px solid #01A1FF;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    outline: 0px !important;
}

.modal__inside {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#modal__title {
    margin-top: 0px;
    margin-left: 0px;
    text-align: center;
}

.modal__content p {
    margin-bottom: 20px;
}

.modal__content a {
    display: block;
    margin-bottom: 10px;
    color: #007bff;
}

.modal__content a:hover {
    text-decoration: underline;
}

.projects__card__image--full {
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: top;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    border: 1px solid #01A1FF;
    margin: 40px;
}

@media screen and (min-width: 520px) {
    .projects__card__image--full {
        width: 300px;
        height: 300px;
    }
}

@media screen and (min-width: 670px) {
    .projects__card__image--full {
        width: 350px;
        height: 350px;
    }
}

@media screen and (min-width: 810px) {
    .projects__card__image--full {
        width: 380px;
        height: 380px;
    }
}

.modal__links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.modal__links a {
    color: #01A1FF;
}

.modal__links a path {
    fill: #01A1FF;
}

.modal__link {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 5px;
}