.sections {
    margin-top: 70px;
    gap: 0px;
    display: flex;
    flex-direction: column;
}

.content {
    z-index: 5;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 500;
}