.contact {
    height: 50vh;
    width: 100vw;
    background-color: #000D15;
    z-index: 5;
    position: relative;
}

.contact .content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 400px;
}

.big__circle {
    height: 140vw;
    width: 140vw;
    background-color: #000D15;
    border-radius: 50%;
    z-index: 4;
    position: absolute;
    top: 45vw;
    left: -20vw;
    box-shadow: 0px 0px 50px 5px #01A1FF;
}

@media screen and (min-width: 460px) {
    .big__circle {
        top: 37vw;
    }
}

@media screen and (min-width: 520px) {
    .big__circle {
        top: 32vw;
    }
}

@media screen and (min-width: 625px) {
    .big__circle {
        top: 25vw;
    }
}

@media screen and (min-width: 725px) {
    .big__circle {
        top: 18vw;
    }
}

@media screen and (min-width: 1000px) {
    .big__circle {
        top: 14vw;
    }
}

@media screen and (min-width: 1250px) {
    .big__circle {
        top: 10vw;
    }
}

@media screen and (min-width: 1450px) {
    .big__circle {
        top: 6vw;
    }
}

@media screen and (min-width: 1675px) {
    .big__circle {
        top: 2vw;
    }
}


#contact__title {
    font-weight: bold;
    font-size: 32px;
    margin-top: 150px;
    z-index: 8;
}

#contact__text {
    margin-top: 10px;
    z-index: 8;
    font-weight: 100;
    font-size: 14px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    max-width: 420px;
}

.contact__button {
    background-color: #01A1FF;
    color: #000D15;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    position: relative;
    z-index: 9;
    margin-top: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }