.footer {
    height: fit-content;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    z-index: 7;
    background-color: #000D15;
}

.footer .content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.footer__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

.footer__links a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer__links path {
    color: #01A1FF;
}

#footer__logo {
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: 500;
}

#footer__copyright {
    margin-top: 7px;
    font-size: 12px;
    font-weight: 200;
    margin-bottom: 10px;
}

#highlight--6 {
    left: -350px;
}

.horizontal__line {
    height: 1px;
    width: 90%;
    background-color: white;
    opacity: 0.5;
    margin-top: 20px;
}

@media screen and (min-width: 660px) {
    .horizontal__line {
        width: 95%;
    }
}