/* ### General ### */

* {
  font-family: "Quicksand", system-ui, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  opacity: 1;
}

body, html {
  background-color: #000D15;
  height: 300vh;
}

a {
  height: 50px;
  width: 50px;
  display: flex;
}

#root {
  width: 100vw;
  height: auto;
  overflow: hidden;
}

.lightblue {
  color: #01A1FF;
}

.start .content {
  z-index: 5;
  margin-top: 30px;
}

.start h1 {
  font-weight: bold;
  font-size: 48px;
}