/* ### General ### */

* {
  font-family: "Quicksand", system-ui, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  opacity: 1;
}

body,
html {
  width: 100vw;
  overflow-x: hidden;
}

html {
  background-image: url("https://plus.unsplash.com/premium_photo-1680740103993-21639956f3f0?q=80&w=1888&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-attachment: fixed;
}

a {
  height: 50px;
  width: 50px;
  display: flex;
}

#root {
  width: 100vw;
  height: auto;
  overflow: hidden;
}

.sections {
  margin-top: 70px;
  gap: 0px;
  display: flex;
  flex-direction: column;
}

.content {
  z-index: 5;
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 500;
}

.lightblue {
  color: #01A1FF;
}

.highlight-green-big {
  height: 600px;
  width: 600px;
  border-radius: 50%;
  background: radial-gradient(circle, #286F6C 0%, #1E4E4B 0%, transparent 70%);
  position: absolute;
  opacity: 1;
  z-index: 1;
}

.highlight-blue-medium {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  background: radial-gradient(circle, #01A1FF 0%, #00A1EE 0%, transparent 70%);
  position: absolute;
  opacity: 1;
  z-index: 1;
}