/* ### General ### */

* {
  font-family: "Quicksand", system-ui, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

body, html {
  background-color: #000D15;
  height: 300vh;
}

a {
  height: 50px;
  width: 50px;
  display: flex;
}