/* ### Navigation ### */

.nav {
    background-color: #000D15;
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease;
    z-index: 10;
  }
  
  .logo__container {
    position: absolute;
    top: 25px;
    left: 15px;
  }
  
  .nav__main {
    flex-direction: column;
    min-width: 250px;
    width: 65%;
    gap: 20px;
    font-size: 24px;
    display: flex;
    height: 0;
    overflow: hidden;
    transition: height .5s ease-in-out;
  }
  
  .nav__lang {
    width: 100%;
    min-width: 250px;
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 20px;
    left: 0;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 0;
    overflow: hidden;
    transition: height .5s ease-in-out;
  }
  
  .nav__lang__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    transition: height 0.3s ease;
  }
  
  .nav__button {
    transition: transform 0.3s ease;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 25px;
    z-index: 100;
  }
  
  .nav__list {
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 35%;
    gap: 20px;
    list-style: none;
    text-align: center;
    min-width: 250px;
    width: 100%;
    height: inherit;
    overflow: inherit;
    transition: all 1s ease;
  }
  
  .nav__item {
    text-align: center;
    min-width: 250px;
    width: 100%;
  }
  
  .nav__link {
    min-width: 250px;
    width: 100%;
    align-items: center;
  }
  
  .nav__list a {
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  /* ### Big screen navigation ### */
  
  @media screen and (min-width: 768px) {
    .nav__button {
      display: none;
    }
  
    .nav__lang__content__text {
      display: none;
    }
  
    .logo__container {
      position: static;
      width: 150px;
      min-width: 150px;
    }
  
    .nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-left: 50px;
      padding-right: 50px;
    }
  
  
    .nav__main {
      display: flex;
      height: 100%;
      flex-direction: row;
      position: static;
      width: 80%;
      justify-content: space-between;
      align-items: center;
      gap: 80px;
      font-size: 20px;
    }
  
    .nav__lang {
      display: flex;
      position: static;
      width: 150px;
      min-width: 0px;
      padding: 40px;
    }
  
    .nav__list {
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: fit-content;
      position: static;
      width: 90%;
      min-width: 0;
      gap: 50px;
      margin: auto;
    }
  
    .nav__link {
      min-width: 0;
      width: auto;
    }
  
    .nav__item {
      width: auto;
      min-width: 0;
    }
  
  }